[gcode_macro PRINT_START]
gcode:
    {% if printer.extruder.temperature > 0 %}

		{% set BED_TEMP = params.BED_TEMP|default(70)|float %}
		{% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
		# Start bed heating
		M140 S{BED_TEMP}
		G90
		G28
		M117 Calibration beginning
		BED_MESH_CLEAR
		BED_MESH_CALIBRATE
		G0 X0 Y0 Z15 F3000
		G0 Z0 F3000
		# Wait for bed to reach temperature
		M190 S{BED_TEMP}
		# Set and wait for nozzle to reach temperature
		M109 S{EXTRUDER_TEMP}
		G1 E10 F480 # Filament extrude 30mm by feedrate 480mm per minute / 8mm per second.
		G92 E0
		G0 X10 Y10 F6000 # move from heatbed corner very quickly, to cut the extruded filament
		G0 Z0.1 F6000 # move from heatbed corner very quickly, to cut the extruded filament
		G0 Y100 F6000 # move from heatbed corner very quickly, to cut the extruded filament
		G0 Z3 F6000 # move from heatbed corner very quickly, to cut the extruded filament
		G0 X100 Z1.5 F6000 # move from heatbed corner very quickly, to cut the extruded filament
        
    {% else %}
      M118 'Attach Print Head!!!'
      BASE_CANCEL_PRINT
    {% endif %}



[gcode_macro LASER_START]
gcode:
    {% if printer.extruder.temperature < 0 %}
      SET_KINEMATIC_POSITION X=0 Y=0 Z=0
    {% else %}
    M118 'Attach Laser Head!!!'
    BASE_CANCEL_PRINT
  {% endif %}

[gcode_macro LASER_END]
gcode:
    {% if printer.extruder.temperature < 0 %}
      M5
      G91
      G1 Z25 F1000
      G1 X-2 Y-2 F1000
      G90
      M84
    {% else %}
      M118 'Laser Head is not Attached!!!'
    {% endif %}


[gcode_macro PRINT_END]
gcode:
    {% if printer.extruder.temperature > 0 %}
      G90
      # Turn off bed, extruder, and fan
      M140 S0
      M104 S0
      M106 S0
      # Move nozzle away from print while retracting
      G91
      G1 Z25 E-3 F1000
      G1 X-2 Y-2 F1000
      G90
      G0 X0 Y300 F1000
      G90
      M84
    {% else %}
      M118 'Laser Head is not Attached!!!'
    {% endif %}

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
# check if Laser Head is attached and Laser OFF
   {% if printer.extruder.temperature < 0 %}
     {% set S = params.S|default(0.0)|float %}
     SET_PIN PIN=TOOL VALUE=0
   {% endif %}

   M220 S100 ; Reset Speed factor override percentage to default (100%)
   M221 S100 ; Reset Extrude factor override percentage to default (100%)
   G91 ; Set coordinates to relative
   {% if printer.extruder.temperature >= 170 %}
      G1 F1800 E-1 ; Retract filament 3 mm to prevent oozing
   {% endif %}
   ;if all axis are homed, lift the hotend to leave room for hot filament to ooze and to keep it clear of the bed.
   {% if printer.toolhead.homed_axes == "xyz" %}
      G1 F6000 Z10 ; Move Z Axis up 10 mm to allow filament ooze freely
      G90 ; Set coordinates to absolute
      G1 X10 Y221 F1000 ; Move Printer Head Out of Way
      ; M84 ; Disable stepper motors - don't so the gantry stays aligned
   {% endif %}
   ;set part fan speed to zero.
   M106 S0
   ;bed and hotend are left at the print temps in case I want to restart.
   CLEAR_PAUSE
   BASE_CANCEL_PRINT
